@charset "UTF-8";
@font-face {
  font-family: 'fillabs';
  src: url("../fonts/fillabs.eot?drfavl");
  src: url("../fonts/fillabs.eot?drfavl#iefix") format("embedded-opentype"), url("../fonts/fillabs.ttf?drfavl") format("truetype"), url("../fonts/fillabs.woff?drfavl") format("woff"), url("../fonts/fillabs.svg?drfavl#fillabs") format("svg");
  font-weight: normal;
  font-style: normal; }
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fillabs' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-mail2:before {
  content: ""; }

.icon-align-justify:before {
  content: ""; }

.icon-email:before {
  content: ""; }

.icon-v-card:before {
  content: ""; }

.icon-facebook-with-circle:before {
  content: ""; }

.icon-facebook:before {
  content: ""; }

.icon-linkedin-with-circle:before {
  content: ""; }

.icon-file-zip:before {
  content: ""; }

.icon-tree:before {
  content: ""; }

.icon-mail4:before {
  content: ""; }

.icon-github2:before {
  content: ""; }

.icon-file-pdf:before {
  content: ""; }

.icon-file-word:before {
  content: ""; }

.icon-file-excel:before {
  content: ""; }

.icon-libreoffice:before {
  content: ""; }

.icon-git:before {
  content: ""; }

.icon-telegram:before {
  content: "\ea95";
}

.section {
  padding: 25px;
  background: #efefef; }

.subsection {
  background: #fff;
  padding: 20px;
  margin-bottom: 25px;
  position: relative; }
  .subsection a {
    color: #31708f; }

.side-margin {
  margin-left: 25px;
  margin-right: 25px; }

.side-padding {
  padding-left: 25px;
  padding-right: 25px; }

.leftline {
  position: absolute;
  top: 2em;
  left: 20px;
  bottom: 2em;
  width: 1px;
  border: 4px solid #1a356e;
  border-radius: 4px; }

ul.contacts {
  list-style-type: none;
  padding-left: 0px; }

.bande {
  position: absolute;
  overflow: hidden;
  height: 150px;
  width: 150px;
  text-align: center;
  z-index: 0; }
  .bande a {
    font: 700 14px/12px Arial,Helvetica,sans-serif;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
    text-align: center;
    width: 207px;
    display: block;
    position: absolute;
    text-decoration: none; }
    .bande a:before, .bande a:after {
      position: absolute;
      border-style: solid;
      border-width: 4px 4px 0 4px;
      content: ".";
      text-indent: -5000px;
      width: 0;
      height: 0; }
    .bande a div.bande-shadow {
      position: absolute;
      top: 0;
      bottom: 0; }
  .bande.bande-topright {
    right: -5px;
    top: -4px; }
    .bande.bande-topright a {
      bottom: 78px;
      left: -12px;
      z-index: 1;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      padding: 9px 0 7px; }
      .bande.bande-topright a:before {
        bottom: -3px;
        right: 4px;
        -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        transform: rotate(225deg); }
      .bande.bande-topright a:after {
        bottom: -3px;
        left: 5px;
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg); }
      .bande.bande-topright a div.bande-shadow {
        left: 9px;
        right: 8px; }
  .bande.bande-red a {
    color: #fff;
    background: #f13340; }
    .bande.bande-red a:before, .bande.bande-red a:after {
      border-color: #AD2B34 transparent transparent transparent; }
    .bande.bande-red a div.bande-shadow {
      box-shadow: 0px 4px 4px 0px rgba(218, 71, 82, 0.64); }

/*# sourceMappingURL=fillabs.css.map */
