@import "variables";

@font-face {
  font-family: 'fillabs';
  src:  url('#{$icomoon-font-path}/fillabs.eot?drfavl');
  src:  url('#{$icomoon-font-path}/fillabs.eot?drfavl#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/fillabs.ttf?drfavl') format('truetype'),
    url('#{$icomoon-font-path}/fillabs.woff?drfavl') format('woff'),
    url('#{$icomoon-font-path}/fillabs.svg?drfavl#fillabs') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fillabs' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail2 {
  &:before {
    content: $icon-mail2;
  }
}
.icon-align-justify {
  &:before {
    content: $icon-align-justify;
  }
}
.icon-email {
  &:before {
    content: $icon-email;
  }
}
.icon-v-card {
  &:before {
    content: $icon-v-card;
  }
}
.icon-facebook-with-circle {
  &:before {
    content: $icon-facebook-with-circle;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-linkedin-with-circle {
  &:before {
    content: $icon-linkedin-with-circle;
  }
}
.icon-file-zip {
  &:before {
    content: $icon-file-zip;
  }
}
.icon-tree {
  &:before {
    content: $icon-tree;
  }
}
.icon-mail4 {
  &:before {
    content: $icon-mail4;
  }
}
.icon-github2 {
  &:before {
    content: $icon-github2;
  }
}
.icon-file-pdf {
  &:before {
    content: $icon-file-pdf;
  }
}
.icon-file-word {
  &:before {
    content: $icon-file-word;
  }
}
.icon-file-excel {
  &:before {
    content: $icon-file-excel;
  }
}
.icon-libreoffice {
  &:before {
    content: $icon-libreoffice;
  }
}
.icon-git {
  &:before {
    content: $icon-git;
  }
}

